body{
    background-color: floralwhite;
}

h2, h1{
    color: cornflowerblue;
    text-shadow:1px 2px 2px indianred;
    font-family: cursive;
    background-color: aliceblue;
    text-align: center;
}

h1.title{
    margin-top:0px;
    text-align:left;
    color: cornflowerblue;
    width:150px;
    height:50px;    
}
p{
    color:indianred;
    /*text-indent: 20px;*/
    text-align:center;
    margin-left: 30px;
    border: 3px solid aliceblue;
    border-radius: 10px;
    padding: 10px;
    margin:30px 2px 30px 2px;
}

mark{
    background-color:cornflowerblue;
}

span{
    color:royalblue;
}
span.company{
    color: black;
}
img.suzu {
    position:relative;
    left:2px;;
    width:140px;
    height:150px;
    display:block;
   
    border: 2px dashed indianred;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div.list li{
    text-align: left;
}
footer {
    border-top: 2px solid indianred;
    margin-top:100px;
    padding-top:8px;
    font-size:12;
    font-Style:italic;
    font-weight: bold;
    
}

a {
    color:royalblue;
    text-decoration: none;
}
table.list{
    width: 100%;
}
td {
    color:indianred;
    text-align:center;
    border:3px solid aliceblue;
    padding:5px 
    width:50%;
    white-space: nowrap;
}

table.list{
    margin-left:auto;
    margin-right:auto;
}

div.blue{
    margin-left:auto;
    margin-right:auto;
    background: cornflowerblue;
    height:40px;
    width:50%;
    
}
div.red{
    margin-left:auto;
    margin-right:auto;
    position:relative;
    background: indianred;
    height:40px;
    width:75%;
}
marquee h2{
    width:200
}