<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Luis Garcia's Profile</title>
    <!--<link rel="stylesheet" href="stylesheets/general/main.css">!-->
    <link rel="stylesheet" href="stylesheets/modern/main.css">
    <link rel="stylesheet" href="stylesheets/modern/index.css">
    <link rel="shortcut icon" href="/resources/images/favicon.ico" type="image/x-icon" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="javascript/main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
    <meta name="google-signin-client_id" content="43515094373-8142sjbo29emrm1d77f6d1jarom8dn3n.apps.googleusercontent.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    {% include "nav.html" %}
    <div id="picMusic">
        <img src="resources/images/Favicon_big.png" id="mainPic" class="messageHover">
        <span id="tuneMessage" class="hoverMessage">Click the Picture...</span>
        <audio id="tune" controls="controls">
            <source src="resources/Funkist_KeijiaNoFukuKaze_SUNRISE7.mp3" type="audio/mpeg"/>
        </audio>
    </div>
        <h1> Hello{{user}}</h1>
        <div id="intro" class="section">
        <p> My name is Luis, I'm <span id="age"> </span> years old. </p>
        <p>
            I'm glad to see you here. Welcome to my website!!!
            <br>
            By all means, take a look.
        </p>
    </div>
    {% include "map.html" %}
    {% include "foot.html" %}
</body>
</html>
