#adminHome,#admin {
    text-align: center;
    display:block;
    position:absolute;
    color: floralwhite;
    top:0;
    width:3%;
    margin: 2% 0 0 0;
    padding:1% .5%;
    text-decoration: none;
    border:2pt solid indianred;
    border-radius: 100pt;
    background-color:cornflowerblue;
}
#admin {
    margin:2% 0 0 4.5%;
}