
body {
    text-align: center;
}
#art{
    position:relative;
    top:2pt;
    background-color:floralwhite;
}
img[class =portfolio] {
    transition: transform .2s;
    height:100%;
}
video[class=portfolio] {
    transition: transform .2s;
    margin:auto;
    width:100%;
}
.portfolio:hover {
    transform:scale(1.25);
}
.narrow_piece  {
    /*background-color:green;*/
    position:relative;
    display:block;
    height:100%;
    width:50%;
}
.wide_piece  {
    background-color:green;
    position:relative;
    display:block;
    height:50%;
    width:100%;
}
.container {
    display: inline-block;
    width:32%;
    line-height:0;
    height:400px;
    overflow: hidden;
    /*background-color:blue;*/
    vertical-align: top;
    border: 2pt solid indianred;
    border-radius:5pt;
}
