#intro {
    display:inline-block;
    position:relative;
    height:10em;
    width:40%;
    top:10%;
    padding:0 0 0 7%;
    margin:5% 0 0 8%;
}
#picMusic{
    display:block;
    position:absolute;
    right:15%;
    width:25%;
    height:25%;
    /*background-color: blue;*/
}
#mainPic {
    display:inline-block;
    position:absolute;
    width:80.5%;
    right:0%;
    border: 2pt solid cornflowerblue;
    border-radius:5pt;    
    padding:0;
    margin:0 9%;
    
}

#tune {
    display: none;
    position:absolute;
    right:0%;
    width:84.5%;
    margin:1% 7%;
    top:100%;
    border:2pt solid indianred;
    border-radius:30pt;
}
#tuneMessage {
    position: absolute;
    width: 35%;
    right:82%;
    top:80%;
    z-index: 1;
}
#lifeMap{
    display:block;
    position:relative;
    width:98%;
    text-align: center;
    /*background-color:blue;*/
    border:2pt solid cornflowerBlue;
    border-radius:5px;
    margin:10% auto;
    padding:0;
}
#mapIntro{
    position:relative;
    margin:0;
    padding:0;
    /*background-color:green;*/
}
#map {
    position:relative;
    display: block;
    height:400pt;
    width:75%;
    border:5pt solid indianred;
    border-radius:5px;
    margin:1% auto 1% auto;
}
