body{
    position:relative;
    padding:0;
    margin:0;
    background-color:#647299/*GREYBLUE*/;
    height: 100%;
    width:100%;
}
#mobileMenu{
  display:none;
  width:24%;
}
.mobileBars{
  display: inline-block;
  width:4em;
  height:.5em;
  background-color: white;
}
#siteNav{
    border-bottom: 5px solid #4162C0/*STRONGBLUE*/;
    display:block;
    text-align:center;
    text-decoration: none;
    width:100%;
    margin:0 auto 2em auto;
}
.siteLinks, .mobileSiteLinks{
  font-size:1.25em;
  font-family: 'Ubuntu Mono', monospace;
  color: #88ADE5/*LIGHTBLUE*/;
  display:inline-block;
  text-align:center;
  width:32%;
  padding:.75em 0 .75em 0;
    /*background-color:yellow;*/
  text-decoration: none;
}
.siteLinks:hover{
  background-color: #FFD8C4/*LIGHTORANGE*/;
  color: #0E40CC;
}
.mobileSiteLinks{
  display:none;
  width:100%;
}
#utilities{
  text-align:center;
  border-bottom: 5px solid #4162C0/*STRONGBLUE*/;
}

#siteButtons{
  display:inline-block;
  vertical-align: top;
  text-align:center;
  width:70%;
  margin:0 auto 1em auto;
}
.button{
    text-align: center;
    display:inline-block;
    color: #88ADE5/*LIGHTBLUE*/;
    padding:1.5em 5% 0 5%;
    margin:0 0 0 0;
    text-decoration: none;
}
.button:hover{
  border-bottom:dashed 2px  #FFD8C4/*LIGHTORANGE*/;
}
.section{
  max-width:800px;
  margin:0 auto 5% auto;
  padding:1% 5% 1% 5%;
  background-color:#4162C0/*STRONGBLUE*/;
  color:  #FFD8C4/*LIGHTORANGE*/;
}

p{
  margin:0;
}

h1, h2, h3{
  font-family: 'Ubuntu Mono', monospace;
  margin:0 auto 0 auto;
  padding:0 5% 0 5%;
  max-width:800px;
  background-color: #FFD8C4/*LIGHTORANGE*/;
  color:#4162C0/*STRONGBLUE*/;
}
footer {
  color:#647299/*GREYBLUE*/;
  border-bottom: 5px solid #F57E61/*STRONGORANGE*/;
  background-color: #FFD8C4/*LIGHTORANGE*/;
  margin-top:2em;
}
#disclaimer{
  font-size: .5em;
  color: #F57E61/*STRONGORANGE*/;
}
