.buttons {
  display: flex;
  min-width: 20vw;
  flex-flow: row-reverse nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}
.header {
  max-width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  min-height: 5vh;
  margin-bottom: 1vh;
  /* background-color: white; */
}
.main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  min-height: 80vh;
}
.footer {
  min-height: 10vh;
  font-weight: 400;
  color: #e0610c;
  margin-top: 2vh;
  padding: 2vmin;
}
.container,
.sectionBlock {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 2vmin;
  color: #2549aa;
  background-color: #88ade5;
  align-items: center;
}
.container {
  max-width: 100vw;
  min-height: 100vh;
  justify-content: space-between;
}
