.nav {
  min-width: 50vw;
  border-bottom: 5px solid #2549aa;
  font-weight: 600;
  font-size: 1.05em;
  display: flex;
  flex-flow: row nowrap;
  width: 100vw;
  /* margin: 0 auto 2em auto; */
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}

.nav a:hover {
  color: #f2933a;
  text-shadow: 0 0 0.15em #571a0b;
  /* text-shadow: 1px 3px 1px #333; */
}
